.usercardcontainer {
	height: 100px;
	margin-top: 15px;
	padding: 0 18px;
	background-color: rgb(184, 184, 184);
	border-radius: 10px;
}
.userInfoContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 70%;
	border: 1px solid red;
}
.userInfoProfilePicture {
	margin-right: 15px;

	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}
